@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #85a389;
  cursor: url("img/eco.cursor.png"), auto;
}

header {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-right: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: hidden;
  color: white;
  border-radius: 3px;
  border: 1px;
  display: inline;
  float: right top;
}

#img-header {
  width: 30px;
  float: left;
  margin-left: 80px;
}

h2 {
  margin-left: 30px;
  margin-right: 30px;
  color: #20402d;
  margin-bottom: 30px;
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 32px;
}

h3 {
  font-size: 28px;
  margin-bottom: 25px;
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;
}

h4 {
  margin-right: 30px;
  margin-left: 120px;
  font-size: 23px;
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;
  color: #20402d;
}

h5 {
  color: #90EE90;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

h6 {
  color: white;
  background-color: #20402d;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;
}

.h7 {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  width: bolder;
  border-left: 30px;
  border-style: hidden;
  font-size: 18px;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

p {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  width: 200px;
  margin: 20px;
}

section {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

div {
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
  border-radius: 3px;
}

#img-topo {
  background-image: url("img/dowm-town-top.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  margin-top: 0px;
}

#card-prime {
  display: flex;
}

#text-prime {
  float: right;
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
}

.span-prime {
  color: #20402d;
  font-size: 13px;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

#doação {
  color: #20402d;
  gap: 30px;
  background-color: #ddeedd;
}

#text-interativo {
  height: 40px;
  position: relative;
  top: 20px;
  bottom: 20px;
  margin-left: 30px;
  margin-bottom: 60px;
  width: 50%;
  background: none;
}

#text-fantasma {
  font-size: 0px;
}

#doação:hover #text-fantasma {
  font-size: 28px;
  position: absolute;
}

#text-aparente {
  font-size: 28px;
  position: absolute;
}

#doação:hover #text-aparente {
  font-size: 0px;
}

#div-button {
  background: none;
  margin-top: 10px;
  margin-left: 30px;
}

.button-doar {
  background-color: #20402d;
  border-color: #20402d;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

.button-adquirir {
  background-color: #ddeedd;
  border-color: #20402d;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

.button-doar:hover a {
  color: #90EE90;
}

.button-adquirir:hover a {
  color: #90EE90;
}

.a-doar {
  text-decoration: none;
  color: #ddeedd;
}

.a-adquirir {
  text-decoration: none;
  color: #20402d;
}

.button-doar:hover {
  background-color: #ddeedd;
}

.button-adquirir:hover {
  background-color: #20402d;
}

.div-inter {
  background-color: #20402d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.div-inter-in {
  background-color: #20402d;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.outdoor {
  background-color: #20402d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;
}

.outdoor-in {
  background-color: #20402d;
  color: white;
  border-radius: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 30px;
}

.button-outdoor {
  background-color: white;
  border-radius: 3px;
  border-style: hidden;
  margin-top: 15px;
  padding: 4px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #20402d;
}

.button-outdoor:hover a {
  color: #90EE90;
}

.img-outdoor {
  overflow: hidden;
  border-color: #90EE90;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.text-outdoor {
  color: #90EE90;
  font-family: "Abril Fatface", serif;
  font-style: normal;
  margin-bottom: 10px;
  display: block;
  color: #20402d;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.perfeis {
  background: none;
  color: #90EE90;
  border-color: #90EE90;
  border-width: 1px;
  border-style: solid;
  display: inline;
  align-items: center;
  justify-content: center;
  min-height: 34px;
}

#contener-fazer {
  background-color: #85a389;
  border-style: hidden;
  border-width: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#coluna-doar {
  background-color: #ddeedd;
  display: block;
  color: #20402d;
  width: 50%;
  border-width: 1px;
  border-style: hidden;
  float: right;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 30px;
}

#coluna-ad {
  background-color: #ddeedd;
  display: block;
  color: #20402d;
  width: 50%;
  border-width: 1px;
  border-style: hidden;
  float: left;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 30px;
}

.bolder {
  font-weight: bolder;
}

.green {
  color: #90EE90;
}

footer {
  background-color: #001000;
  color: white;
  margin-bottom: 0px;
}

#div-footer {
  background-color: #001000;
  color: white;
  display: flex;
  margin-bottom: 0px;
}

.div-footer-in {
  background: #001000;
  vertical-align: text-top;
  text-align: start;
  float: top;
  color: white;
}

#link-f {
  color: white;
  color: white;
  background-color: #2563EB;
  border-color: #2563EB;
  border-style: solid;
  border-radius: 100%;
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 6px;
  padding-right: 3px;
  text-decoration: none;
  display: inline;
}

#link-a {
  color: white;
  color: white;
  background-color: #DB2777;
  border-color: #DB2777;
  border-style: solid;
  border-radius: 100%;
  padding-top: 2px;
  padding-right: 1px;
  padding-left: 2px;
  padding-bottom: 1px;
  font-size: 11px;
  text-decoration: none;
  display: inline;
}

#link-t {
  color: white;
  background-color: #60A5FA;
  border-color: #60A5FA;
  border-style: solid;
  border-radius: 100%;
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 6px;
  padding-right: 6px;
  text-decoration: none;
  display: inline;
}

.null {
  opacity: 0;
}

#end {
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: url("img/eco.cursor.pointer.png"), pointer;
}

a:hover {
  cursor: url("img/eco.cursor.pointer.png"), pointer;
}

@media screen and (max-width: 786px) {
  #img-topo {
    display: none;
  }
  section {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
  }
  #img-prime {
    width: 50px;
    height: 50px;
    float: bottom;
  }
  #text-prime {
    float: top;
  }
  #card-prime {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 25px;
  }
  div {
    margin-left: 40px;
    margin-right: 40px;
  }
  #text-aparente {
    font-size: 18px;
    display: inline;
  }
  #doação:hover #text-fantasma {
    font-size: 18px;
    display: inline;
  }
  #text-interativo {
    width: 90%;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  .div-inter-in {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 8px;
  }
  .h7 {
    font-size: 15px;
    margin-left: 41px;
    margin-right: 41px;
  }
  .button-adquirir {
    width: 82px;
  }
  .outdoor {
    display: inline-block;
  }
  .img-outdoor {
    width: 200px;
  }
  .outdoor-in {
    width: 80%;
  }
  h6 {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-left: 0px;
  }
  footer {
    align-items: center;
  }
  .div-footer-in {
    width: 25%;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
  }
}/*# sourceMappingURL=style.css.map */