@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
   body {background-color:  #85a389;}
header {margin-top: 40px; 
     margin-bottom:0px ;
    margin-left: 80px; 
    margin-right: 80px;
background-color:none;
color: white;
border-radius: 3px;
border: 1px;}
h2 {margin-left: 30px;
margin-right: 30px;
color: #20402d;
margin-bottom:25px;
   font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;}
h3 {font-size:13px;
   font-family: "Abril Fatface", serif;}
p {font-size: 13px;
font-family: Helvetica, sans-serif;
margin-left: 30px;
margin-right: 30px;}
#img-header {width: 30px;
   float: left;}
img {width: 200px;
margin: 20px;}
section {margin-top: 20px;
    margin-bottom:20px ;
    margin-left: 80px; 
    margin-right: 80px;
background-color: white;
border-radius: 3px;
 align-items: center;
justify-content: center;}
div {background-color: white;
    align-items: center;
justify-content: center;
margin-top: 20px;
    margin-bottom:40px ;
    margin-left: 80px;
    margin-right: 80px;
background-color: white;
border-radius:3px;}
#img-topo {background-image: url('img/dowm-town-top.webp');
background-repeat: no-repeat;
  background-size: cover;
height: 260px;
margin-top: 0px;}
#card-prime {display: flex;}
#text-prime {float: right;
margin-left: 0px;
margin-right: 0px;}
span {color: #20402d;
font-size: 12px;
 font-family: "Abril Fatface", serif;
  font-style: normal;}
#doação {color: #20402d;
gap:30px;
background-color: #ddeedd ;}
#text-interativo {height: 18px;
margin: 30px;
background: none;
text-decoration: none;}
   #text-fantasma {font-size: 0px;}
#doação:hover #text-fantasma {font-size: 13px;}
 #doação:hover #text-aparente {font-size: 0px;}
#div-button {background: none;
margin-left: 30px;}
.button-doar {background: none;
border-color: #20402d;
color: #20402d; 
border-width: 2px;
border-style:solid;
 border-radius: 3px;
 padding: 5px;
 font-family: sans-serif;
font-size: 10px;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;}
.button-doar {background-color: #20402d;
border-color: #20402d;
border-width: 2px;
border-style:solid;
 border-radius: 3px;
 padding: 5px;
 font-family: sans-serif;
font-size: 10px;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;
text-decoration: none ;}
.button-adquirir {background-color: #ddeedd;
border-color: #20402d;
border-width: 2px;
border-style:solid;
 border-radius: 3px;
 padding: 5px;
 font-family: sans-serif;
font-size: 10px;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;
text-decoration: none; }
.button-doar:hover a {color: #90EE90;}
.button-adquirir:hover a {color: #90EE90;}
.a-doar {text-decoration: none;
color: #ddeedd}
.a-adquirir {text-decoration: none;
color: #20402d;}
.button-doar:hover {background-color:#ddeedd;}
.button-adquirir:hover {background-color: #20402d;}